<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Inventory App</title> 
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">  
</head>  
<body>  
    
    <div class="container mt-3">  
        <h1>Inventory Management</h1> 
        <div class="btn-container">
            <div><a href="/categories" class="btn btn-primary">Categories</a></div>  
            <div><a href="/items" class="btn btn-primary">Items</a></div>
        </div>
        
    </div>  

</body>  
</html>